@using Client.ViewModels
@model BalanceViewModel

@{
    ViewBag.Title = "Balance";
}
<div class="col">
    <h2>Balance</h2>

    <h3>Your balance: $@Model.Balance</h3>
</div>

@using (Html.BeginForm("AddBalance", "Account", FormMethod.Post))
{
    <div class="col-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
                @Html.EditorFor(model => model.AddSum, new { htmlAttributes = new { placeholder = "Enter the sum", @class = "form-control" } })
            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" value="Add money"/>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="text-danger">
            @Html.ValidationSummary(true)
            @Html.ValidationMessageFor(model => model.AddSum)
        </div>
    </div>
}