@using Client.ViewModels
@model CabinetViewModel

@{
    ViewBag.Title = "Cabinet";
}

<h2>Cabinet</h2>

<div class="container">
    <div class="row text-center">
        <a href="@Url.Action("Index", "Subscription")" class="col btn btn-outline-primary text-decoration-none ml-1 p-4">
            <div class="mt-1">
                <span class="h4">My Subscriptions</span>
            </div>
        </a>
        <a href="@Url.Action("Balance", "Account")" class="col btn btn-outline-success text-decoration-none ml-1 p-4">
            <div class="mt-1">
                <span class="h4">Balance</span>
            </div>
        </a>
        <a href="@Url.Action("ChangePassword", "Account")" class="col btn btn-outline-secondary text-decoration-none ml-1 p-4">
            <div class="mt-1">
                <span class="h4">Change Password</span>
            </div>
        </a>
    </div>
</div>
