<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Periodicals</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img class="logo" src="~/Content/images/logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">First</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Second</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Third</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown">
                                <a class="dropdown-item" href="#">First</a>
                                <a class="dropdown-item" href="#">Second</a>
                                <a class="dropdown-item" href="#">Third</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <span class="text-muted">&copy; @DateTime.Now.Year - Roman Mykhaylenko</span>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    
    <script src="~/Content/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
